.first{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 20px;
}
.second{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.third{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.fourth{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.main{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
  
}